@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("woff2");
}
